<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuvap.adma">




    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-feature android:name="android.hardware.telephony" android:required="true" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    ...
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="Home" />
        <activity android:name=".FormActivity" />
        <activity android:name=".mobile" />

        <service android:name=".MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".AnotherActivity" />
        <activity android:name=".notification" />
        <activity
            android:name=".home2"
            android:label="@string/title_activity_home2"
            android:theme="@style/AppTheme" />
        <activity android:name=".bachelor" />
        <activity
            android:name=".ugcourses"
            android:label="Under Graduate Courses"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".pgcourses"
            android:label="Post Graduate Courses"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".update"
            android:label="Personal Information"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".faq"
            android:label="Frequently Asked Questions"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".apply"
            android:label="Apply"
            android:parentActivityName=".ugcourses" />
        <activity
            android:name=".applypg"
            android:label="Apply"
            android:parentActivityName=".pgcourses" />
        <activity
            android:name=".faq1"
            android:label="FAQ"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".About"
            android:label="About the College"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".bca"
            android:label="BCA"
            android:parentActivityName=".ugcourses" />
        <activity
            android:name=".bba"
            android:label="BBA-IT"
            android:parentActivityName=".ugcourses" />
        <activity
            android:name=".mca"
            android:label="MCA"
            android:parentActivityName=".pgcourses" />
        <activity
            android:name=".mba"
            android:label="MBA-IT"
            android:parentActivityName=".pgcourses" />
        <activity android:name=".fees"></activity>
    </application>

</manifest>